Q1. For loop is used when the number of itertion is already known.

In [1]:
#Example
inputList = [10, 20, 30, 40, 50]
print("Input list elements:")
for element in inputList:
   print(element)

Input list elements:
10
20
30
40
50

While loop is used when the number of iteration in unknown.

In [3]:
#Example
i=1
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

Q2. Sum and Product of first 10 natural number

In [16]:
#Using For Loop
#Sum
sum = 0
for i in range(10):
    sum = i+sum  
    print(sum)
print("Sum of N numbers using for loop is:",sum)

#Product
sum = 1
for i in range(1,11):
    sum = i*sum  
    print(sum)
print("Product of N numbers using for loop is:",sum)

0
1
3
6
10
15
21
28
36
45
Sum of N numbers is: 45
1
2
6
24
120
720
5040
40320
362880
3628800
Sum of N numbers is: 3628800

In [19]:
#Using While Loop
#Sum 

i = 0
sum =0
while(i<10):
    sum = sum+i
    i = i+1
    print(sum)
print("Sum of N numbers using while loop is:",sum)

#Product
i = 1
sum =1
while(i<11):
    sum = sum*i
    i = i+1
    print(sum)
print("Product of N numbers using while loop is:",sum)

0
1
3
6
10
15
21
28
36
45
Sum of N numbers using for loop is: 45
1
2
6
24
120
720
5040
40320
362880
3628800
Sum of N numbers using for loop is: 3628800

Q3.

In [69]:
unit = int(input("How much unit : "))
amount = 0
if unit<101:
    amount = unit*4.5
elif unit>100 and unit<201:
    amount = 100*4.5 + (unit-100)*6
    
elif unit>200 and unit<301:
    amount =  100*4.5 + 100*6 + (unit-200)*10
    
elif unit>300:
    amount = 100*4.5 + 100*6 + 100*10 + (unit-300)*20
print(amount)

How much unit :  310

2250.0

Q4.

In [39]:
# for loop 
l = list(range(1,101))
l1 = []
for i in l:
    cube = i*i*i
    if (cube%4==0) or (cube%5==0):
        l1.append(cube)
    else:
        continue
print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [52]:
#While Loop
l = list(range(1,101))
l1 = []
i = 1
while (i<len(l)+1):
    cube = i*i*i
    if (cube%4==0) or (cube%5==0):
        l1.append(cube)
        i = i+1
    else:
        i = i+1
        continue
print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q5.

In [68]:
vowel = set("aeiouAEIOU")
count = 0
string = "I want to become a data scientist"

for alpha in string:
    if alpha in vowel:
        count = count+1

print(count)

12