Q1.

MongoDB: MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas. MongoDB is developed by MongoDB Inc. and licensed under the Server Side Public License which is deemed non-free by several distributions.

Non-Relational : A NoSQL database provides a mechanism for storage and retrieval of data that is modeled in means other than the tabular relations used in relational databases. Such databases have existed since the late 1960s, but the name "NoSQL" was only coined in the early 21st century, triggered by the needs of Web 2.0 companies.

NoSQL databases like MongoDB are a good choice when your data is document-centric and doesn't fit well into the schema of a relational database, when you need to accommodate massive scale, when you are rapidly prototyping, and a few other use cases.14

Q2.

1) The MongoDB database contains collections just like the MYSQL database contains tables. You are allowed to create multiple databases and multiple collections.

2) Now inside of the collection we have documents. These documents contain the data we want to store in the MongoDB database and a single collection can contain multiple documents and you are schema-less means it is not necessary that one document is similar to another.

3) The documents are created using the fields. Fields are key-value pairs in the documents, it is just like columns in the relation database. The value of the fields can be of any BSON data types like double, string, boolean, etc.

4) The data stored in the MongoDB is in the format of BSON documents. Here, BSON stands for Binary representation of JSON documents. Or in other words, in the backend, the MongoDB server converts the JSON data into a binary form that is known as BSON and this BSON is stored and queried more efficiently.

5) In MongoDB documents, you are allowed to store nested data. This nesting of data allows you to create complex relations between data and store them in the same document which makes the working and fetching of data extremely efficient as compared to SQL. In SQL, you need to write complex joins to get the data from table 1 and table 2. The maximum size of the BSON document is 16MB.

In [1]:
# Q3
import pymongo
client = pymongo.MongoClient("mongodb+srv://aadilansari123456:Aadil@cluster0.jduoidj.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db = client['pwskills']
data = {
    "name" : "Aadil Ali" ,
    "Class" : "Data Science Masters"
}
coll_pwskills = db["my_record"] 
coll_pwskills.insert_one(data)

In [2]:
#Q4
#Insert One Record
db = client['One']
data = {
    "name" : "Aadil Ali" ,
    "Class" : "Data Science Masters"
}
coll_pwskills = db["One_record"] 
coll_pwskills.insert_one(data)

In [8]:
#Insert Many Record
db = client['Many_1']
data = [{
    "name" : "Aadil Ali" ,
    "Class" : "Data Science Masters"
},
 {
    "name" : "Sahil" ,
    "Class" : "Data Science Masters"
},
 {
    "name" : "Ram" ,
    "Class" : "Data Science Masters"
}
, {
    "name" : "Rohit" ,
    "Class" : "Data Science Masters"
}]
coll_pwskills = db["my_recordx"] 
coll_pwskills.insert_many(data)

In [9]:
#find One
coll_pwskills.find_one()

{'_id': ObjectId('641e9e8d59dce052f87f8f0d'),
 'name': 'Aadil Ali',
 'Class': 'Data Science Masters'}

In [5]:
#find All
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('641c0dbdc87a9f2ef0bfcd6b'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c0dbdc87a9f2ef0bfcd6a'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c0dbdc87a9f2ef0bfcd6d'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c0dbdc87a9f2ef0bfcd6c'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c109cc87a9f2ef0bfcd6f'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c109cc87a9f2ef0bfcd6e'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c109cc87a9f2ef0bfcd70'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c109cc87a9f2ef0bfcd71'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c10adc87a9f2ef0bfcd74'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c10adc87a9f2ef0bfcd73'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c10adc87a9f2ef0bfcd75'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c10adc87a9f2ef0bfcd72'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c116bc87a9f2ef0bfcd77'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c116bc87a9f2ef0bfcd76'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c116bc87a9f2ef0bfcd78'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c116bc87a9f2ef0bfcd79'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1177c87a9f2ef0bfcd7b'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1177c87a9f2ef0bfcd7d'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1177c87a9f2ef0bfcd7c'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1177c87a9f2ef0bfcd7a'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c117dc87a9f2ef0bfcd81'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c117dc87a9f2ef0bfcd7f'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c117dc87a9f2ef0bfcd7e'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c117dc87a9f2ef0bfcd80'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1188c87a9f2ef0bfcd85'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1188c87a9f2ef0bfcd83'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1188c87a9f2ef0bfcd82'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1188c87a9f2ef0bfcd84'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1219c87a9f2ef0bfcd86'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1219c87a9f2ef0bfcd89'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1219c87a9f2ef0bfcd87'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1219c87a9f2ef0bfcd88'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1221c87a9f2ef0bfcd8d'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1221c87a9f2ef0bfcd8c'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1221c87a9f2ef0bfcd8b'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1221c87a9f2ef0bfcd8a'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1226c87a9f2ef0bfcd91'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1226c87a9f2ef0bfcd8f'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1226c87a9f2ef0bfcd90'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1226c87a9f2ef0bfcd8e'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1231c87a9f2ef0bfcd93'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1231c87a9f2ef0bfcd92'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1231c87a9f2ef0bfcd94'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c1231c87a9f2ef0bfcd95'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c124bc87a9f2ef0bfcd98'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c124bc87a9f2ef0bfcd99'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c124bc87a9f2ef0bfcd96'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c124bc87a9f2ef0bfcd97'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c126ac87a9f2ef0bfcd9d'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c126ac87a9f2ef0bfcd9b'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c126ac87a9f2ef0bfcd9c'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c126ac87a9f2ef0bfcd9a'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c172fc87a9f2ef0bfcda0'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c172fc87a9f2ef0bfcd9f'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c172fc87a9f2ef0bfcd9e'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641c172fc87a9f2ef0bfcda1'), 'name': 'Rohit', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641e9dc259dce052f87f8f05'), 'name': 'Aadil Ali', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641e9dc259dce052f87f8f06'), 'name': 'Sahil', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641e9dc259dce052f87f8f07'), 'name': 'Ram', 'Class': 'Data Science Masters'}
{'_id': ObjectId('641e9dc259dce052f87f8f08'), 'name': 'Rohit', 'Class': 'Data Science Masters'}

Q5

In MongoDB we use the find() and find_one() methods to find data in a collection. Just like the SELECT statement is used to find data in a table in a MySQL database.

Find() method is used to select data from the database. It returns all the occurrences of the information stored in the collection. It has 2 types of parameters, The first parameter of the find() method is a query object. In the below example we will use an empty Query object, which will select all information from the collection. Note: It works the same as SELECT* without any parameter.

In [ ]:
db = client['Many1']
data = [{
    "name" : "Aadil Ali" ,
    "Class" : "Data Science Masters"
},
 {
    "name" : "Sahil" ,
    "Class" : "Data Science Masters"
},
 {
    "name" : "Ram" ,
    "Class" : "Data Science Masters"
}
, {
    "name" : "Rohit" ,
    "Class" : "Data Science Masters"
}]
coll_pwskills = db["my_record1"] 
coll_pwskills.insert_many(data)
x = coll_pwskills.find_one({'name' : 'Rohit'})
print(x)

#for printing all values
for i in coll_pwskills.find():
    print(i)

Q6


The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specify an ascending or descending sort respectively.

Syntax
The basic syntax of sort() method is as follows âˆ’

>db.COLLECTION_NAME.find().sort({KEY:1})

In [ ]:
data2 = [
   { "_id" : 1, "name" : "Central Park Cafe", "borough" : "Manhattan"},
   { "_id" : 2, "name" : "Rock A Feller Bar and Grill", "borough" : "Queens"},
   { "_id" : 3, "name" : "Empire State Pub", "borough" : "Brooklyn"},
   { "_id" : 4, "name" : "Stan's Pizzaria", "borough" : "Manhattan"},
   { "_id" : 5, "name" : "Jane's Deli", "borough" : "Brooklyn"},
] 
coll_pwskills = db["my_record2"] 
coll_pwskills.insert_many(data2)
db.my_record2.find().sort({_id:1})

Q7 

1) deleteOne() : Deletes the first document that matches the filter. Use a field that is part of a unique index such as _id for precise deletions.

2) Delete_many() : Is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

3) Drop() : The drop() function is used to remove a set of labels from a row or column. We may exclude rows or columns by defining label names and matching axes or directly defining index or column names. Labels on various levels may be removed by using a multi-index by defining the level.